<nav class="navbar navbar-expand-lg navbar.dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
            <a href="/" class="nav-link text-white">Index</a>
            <a href="/practica1" class="nav-link text-white">Practica 01</a>
            <a href="/cotizacion" class="nav-link text-white">Practica 02</a>
            <a href="/pago" class="nav-link text-white">Practica 03</a>
            <a href="/papeleria" class="nav-link text-white">Preexamen</a>
        </div>
    </div>
</nav>